<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/solo.css">
  <link rel="stylesheet" href="/css/syntax.css">
  {% if site.font-awesome-include %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">{% endif %}
  <link rel="stylesheet" href="/css/rrssb.css">

  <script src="/scripts/jquery.js"></script>
  <link rel="canonical" href="{{ site.ull }}" />
</head>
<body>
  <article>
   <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    {{ content }}
    </div>
  </article>
<script src="{{ site.url }}/scripts/rrssb.min.js"></script>
</body>
</html>
